**/dataset/
**/saved_models/
**/*.pth
**/*.pt
**/*.tar.gz
**/*.zip
**/__pycache__/
**/*.pyc
**/lab3_dataset*
**/test_results/
**/transformer_checkpoints/
**/kenny/
**/LAB4_Dataset*/
**/.claude/
**/events.out.tfevents*
**/*.ckpt
**/submission.csv
*.gif
**/*.png
**/*.jpg
**/*.jpeg
**/wandb/
**/venv/
lab 5/dL_lab5/
**/*.npy